<div class="routines-show">
  <h1 style="text-align: center;"><%= @routine.name %></h1>

  <% @exercices.each do |exercice| %>
    <%= link_to "#", class: "cards" do %>
      <div class="video">
        <iframe width="100%" height="100%" src="<%= exercice.video_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="desc-exo">
        <p><%= exercice.description %></p>
        <p><strong>Répétitions :</strong> <%= exercice.rep_amount %></p>
        <p><strong>Objectif :</strong> <%= exercice.objective %></p>
      </div>
    <% end %>
  <% end %>
</div>
